* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 15px;
  line-height: 1.46;
}


html {
  font-size: 62.5%;
}

@font-face {
  font-family: "Open Sans";
  src: url(../fonts/OpenSans-Regular.woff);
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: url(../fonts/fonts/OpenSans-Bold.woff);
  font-weight: 700;
  font-style: normal;
}

.header {
  position: relative;
  padding-top: 28px;
  padding-bottom: 125px;
  color: #fff;
  background-image: url(../images/banner-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.header::before {
  content: "";
  display: block;
  opacity: 0.6;
  background-color: #000000;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  width: 100%;
}

div {
  display: block;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
  padding-left: 15px;
  padding-right: 15px;
}

.logo_menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 180x;
}

.logo {
  width: 180px;
}

.menu_list {
  display: flex;
  list-style-type: none;
  font-size: 13px;
  text-transform: uppercase;
}

.menu_item_margin {
  margin-left: 35px;
}

.menu_link {
  color: #ffffff;
  text-decoration: none;
}

.hamburger {
  display: none;
}

.header_container_tittle {
  text-align: center;
  margin-top: 98px;
  display: block;
  width: 690px;
  margin-left: auto;
  margin-right: auto;
}

.header_title {
  font-weight: 700;
  font-size: 45px;
  line-height: 1.67;
  color: #fff;
  text-transform: uppercase;
}

.trends {
  width: 100%;
  margin: 61px 0 63px 0;
  
}

.trend_wrapper {
  display: flex;  
  flex-wrap: wrap;
  box-sizing: border-box;
}

.trends_title {
  text-align: center;
  display: block;
  font-size: 20px;
  width: 100%;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 1;
  color: black;
  margin: 0;
  
}

.trends_title:after {
  content: "";
  display: block;
  width: 66px;
  height: 3px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 9px;
  opacity: 0.5;
  background-color: #e1d9bd;
}

.trend_link {
  color: #b59f5b;
  text-decoration: none;
}

.trend_box {
  display: flex;
  color: white;
  position: relative;
  align-content: flex-end;   
  flex-wrap: wrap;
    
}

.trend_box::before {
  content: "";
  display: block;
  opacity: 0.4;
  background-color: #000000;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  width: 100%;
}

.trend_image_seedlings {
  background-image: url(../images/trend1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  padding: 0 21px 16px 18px;
}

.trend_image_cheeses {
  background-image: url(../images/trend2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  padding: 0 23px 16px 21px;
  
}

.trend_image_hike {
  background-image: url(../images/trend3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  padding: 0 21px 16px 23px;
}

.trend_image_lemons {
  background-image: url(../images/trend4.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
   padding: 0 19px 16px 21px;
}

.trend_article {
  width: 100%;
  margin: auto;
  border: 3px solid #8b7d54;
  padding: 38px 39px 32px 32px;
  text-transform: uppercase;
  font-size: 28px;
  position: relative;
}


.container_wrapper {
  display: flex;
  justify-content: center;
}

.container_main-aside {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  background-color: #ffffff;
  padding-left: 15px;
  padding-right: 15px;
  max-width: 1200px;
}

.article_list {
  width: calc(100% - 300px);
  margin-right: 30px;
}

.article {
  display: flex;
  align-items: flex-start;
  padding-right: 90px;
}

.article_sunshine {
  margin-top: 0;
}

.article_yoga {
  margin-top: 59px;
}

.article_festivals {
  margin-top: 60px;
}

.article_cooking {
  margin-top: 61px;
}

.article_prints {
  margin-top: 62px; 
}

.article_image {
  width: 381px;
  margin-right: 30px;
}

.tag_list {
  display: flex;
  list-style-type: none;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}


.tag_item_trend {
  margin-right: 19px;
  font-weight: 700;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 0.35;
}


.tag_item {
  margin-right: 19px;
  font-weight: 700;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1;
}

.tag_item:last-child {
  margin-right: 0;
}

.tag_link {
  text-decoration: none;
  color: #b59f5b;
}

.tag_link:hover {
  text-decoration: underline;
}

.article_title {
  margin-top: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
  text-transform: uppercase;
}

.article_title_link {
  color: #0f0d0e;
  text-decoration: none;
}

.article_title_link:hover {
  color: #b59f5b;
}

.author_name {
  font-size: 12px;
  line-height: 1;
  font-weight: 700;
  margin-top: 32px;
}

.datetime {
  color: #888888;
  margin-right: 12px;
  font-weight: 400;
  display: inline-block;
}

.article_author {
  font-weight: 700;
  color: #000000;
  display: inline-block;
  font-style: normal;
}

.article_content {
  margin-top: 46px;
  font-size: 15px;
  line-height: 1.47;
  color: #0f0d0e;
}

.article_content_yoga {
  margin-top: 46px;
  font-size: 15px;
  line-height: 1.47;
  color: #0f0d0e;
}

.article_content p:last-child {
  margin: 0;
}

.article_content p {
  margin: 0 0 14px 0;
}

.sidebar {
  width: 270px;
}

.section_margin_search {
  margin-top: 62px;
}

.subtitle {
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  line-height: 1;
  color: black;
  margin: 0;
}

.subtitle:after {
  content: "";
  display: block;
  width: 66px;
  height: 3px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 14px;
  opacity: 0.5;
  background-color: #e1d9bd;
}

.subtitle_trends {
  margin-bottom: 29px;
}

.subtitle_mailing {
  margin-bottom: 23px;
  margin-top: 60px;
}

.subtitle_tags {
  margin-bottom: 24px;
  margin-top: 56px;
}

.subtitle_themes {
  margin-bottom: 20px;
  margin-top: 56px;
}

.news_list {
  list-style-type: none;
}

.news_item {
  display: flex;
  align-items: flex-start;
}

.news_item_margin {
  margin-top: 22px;
}

.news_item_image {
  width: 70px;
  margin-right: 18px;
}

.datetime_news {
  display: block;
  font-size: 12px;
  line-height: 1;
  color: #a9a9a9;
}

.news_title {
  margin-top: 5px;
  line-height: 1.14;
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  margin-bottom: 0;
}

.news_link {
  text-decoration: none;
  color: #000000;
}

.news_link:hover {
  color: #b59f5b;
}

.search {
  display: flex;
}

.search_wrapper {
  border: 0;
  display: flex;
  width: 100%;
}

.search_label {
  display: flex;
  width: 100%;
}

.input_field {
  border: 0;
  background-color: #f4f7f6;
  font-size: 13px;
  color: #d1d3d3;
  height: 48px;
  padding: 18px;
  width: 100%;
}

.button {
  background-color: #b59f5b;
  border: 0;
  height: 48px;
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  color: #ffffff;
  width: 100%;
  cursor: pointer;
}

.button_search {
  width: 48px;
  background-color: #b59f5b;
  background-image: url(../svg/search.svg);
  background-position: center center;
  background-size: 20px;
  background-repeat: no-repeat;
  flex-shrink: 0;
}

.input_field_mail {
  border: 0;
  background-color: #f4f7f6;
  font-size: 13px;
  color: #d1d3d3;
  height: 48px;
  padding: 18px;
  width: 100%;
}

.button_subscription {
  background-color: #b59f5b;
  border: 0;
  height: 48px;
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  color: #ffffff;
  width: 100%;
  cursor: pointer;
}

.visually_hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  clip: rect(1px, 1px, 1px, 1px);
}

.form_row_margin {
  margin-top: 16px;
}

.letter_form {
  display: flex;
  flex-direction: column;
}

.letter_form_field:focus {
  outline: none;
  border-bottom: 1px;
  border-style: solid;
  border-color: black;
  padding-bottom: 16px;
}

.wrapper_tags {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.tags_item:last-child {
  margin-right: 0;
}

.tags_item {
  margin-right: 6px;
  margin-bottom: 6px;
  display: flex;
}


.tags_item_link {
  display: block;
  padding: 6px 13px;
  border: 3px solid #eeeeee;
  font-weight: 700;
  font-size: 12px;
  text-transform: uppercase;
  color: #0f0d0e;
  text-decoration: none;
  line-height: 1;
}
.tags_item_link:hover {
  border-color: #b59f5b;
}

.topics_list {
  padding: 0;
  margin: 0;
}

.topics_item {
  list-style-type: none;
  margin-top: 12px;
  padding-bottom: 12px;
  border-bottom: 1px solid #eeeeee;
}

.topics_item:first-child {
  margin-top: 0px;
}

.topics_item_link {
  font-weight: 700;
  font-size: 14px;
  line-height: 1;
  color: #000000;
  text-decoration: none;
}

.topics_item_link:hover {
  color: #b59f5b;
}

.topics_number {
  font-weight: 700;
  font-size: 12px;
  line-height: 1;
  color: #b59f5b;
  text-decoration: none;
  vertical-align: super;
}

.topics_number_yoga {
  font-weight: 700;
  font-size: 12px;
  line-height: 1;
  color: #b59f5b;
  text-decoration: none;
}

.shop {
   margin-top: 59px; 
   margin-bottom: 34px; 
}

.subtitle_shop {
  margin-top: 27px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.45;
  color: black;
  margin: 0;
}


.subtitle_shop:after {
  content: "";
  display: block;
  width: 66px;
  height: 3px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 8px;
  margin-bottom: 28px;
  opacity: 0.5;
  background-color: #e1d9bd;
}

.shop_wrapper {
  display: flex;
  justify-content: space-between;
}

.shop_column {
  width: 29.62%;
  display: flex;
  flex-direction: column;
}

.shop_column:last-child {
  margin-right: 0;
}

.shop_img {
  margin: 0 auto;
  width: 87%;
  display: block;
}

.shop_img_hexagon {
  margin: 0 auto;
  width: 87%;
  display: block;
}

.shop_box {
  border: 3px solid #8b7d54;
  padding: 49px 20px 23px 20px;
  position: relative;
  z-index: 1;
  top: -30px;
  flex-grow: 1;
}

.shop_title {
  margin: 0 0 2px 0;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.2;
  text-transform: uppercase;
}
 
.shop_text {
  font-size: 15px;
  line-height: 1.47;
  font-weight: 400;
}

.price_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 23px;
}

.price_wrapper_bunny {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 23px;
  
}

.price {
  height: 35px;
}

.old_price {
  font-size: 1.4rem;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: line-through;
}

.new_price {
  font-size: 2rem;
  line-height: 1.5rem;
  font-weight: 700;
  text-transform: uppercase;
}

.button_shop {
  width: 141px;
}

.shop_text_link {
  text-decoration: none;
  color: #b59f5b;
}

.shop_text_link:hover {
  text-decoration: underline;
}

.footer {
  width: 100%;
  margin: 0 auto 44px auto;
  position: relative;
}

.socials {
  padding: 30px;
  background-color: #f4f7f6;
  padding-left: 0;
  padding-right: 0;
}

.socials_list {
  list-style-type: none;
  display: flex;
  justify-content: center;
  padding: 0;
}

.socials_item_margin {
  margin-left: 25px;
}

.socials_link {
  width: 23px;
  height: 23px;
  display: block;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.socials_link_twitter {
  background-image: url(../svg/004-twitter.svg);
  
}

.socials_link_pinterest {
  background-image: url(../svg/001-pinterest.svg);
 
}

.socials_link_facebook {
  background-image: url(../svg/002-facebook-logo.svg);
}

.socials_link_instagram {
  background-image: url(../svg/005-instagram.svg);
}

.socials_link_tumblr {
  background-image: url(../svg/003-tumblr.svg);
}

.copyright_wrapper {
  margin-top: 65px;
  text-align: center;
}

.copyright {
  font-weight: 700;
  font-size: 12px;
  color: #999999;
  text-decoration: none;
}

.article_title_post_list {
  
  margin-top: 12px;
  line-height: 1.294;
   font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
  text-transform: uppercase;
}




@media (min-width: 1201px) {

  .trend_box {
    min-height: 320px;
  }


.trend_wrapper {
     flex-wrap: nowrap;
  }

  .trend_box_seedlings {
     margin-right: 3px;
     width: calc(25% - 2px);
  }

  .trend_box_cheeses {
     margin-right: 3px;
     width: calc(25% - 2px);
  }

  .trend_box_hike {
    margin-right: 3px;
    width: calc(25% - 2px);
  }

  .trend_box_lemons {
    width: calc(25% - 6px);
  } 
}




@media (min-width: 641px) and (max-width: 1200px) {
  .header {
   padding-top: 5.6vw;
   padding-bottom: 14.9vw;
   background-image: url(../images/banner-bg-tablet.jpg);
 } 
  
  .header_container_tittle {
  margin-top: 11.92%;
  width: 83%;
 }

  .header_title {
    font-weight: 700;
    font-size: 4rem;
    line-height: 1.3;
    color: #fff;
    text-transform: uppercase;
  }

 .logo_menu {
   width: 100%;
   height: 4.87%;
   margin-top: 0;
  }

 .logo { 
    padding-left: 20px;
  }

 .container {
    display: flex;
    flex-wrap: wrap;
  }

 .hamburger {
    display: block;
    position: absolute;
    right: 35px;
    top: 12px;
  }

 .hamburger_item {
    width: 23px;
    height: 2px;
    background-color: white;
    margin-bottom: 5px;
}

 .trends {
    margin: 45px 0 49px 0;
}

  .trends_title {
    font-weight: 800;
    font-size: 1.8rem;
    line-height: 1.3;
}

 .trend_article {
   padding: 35px 36px 29px 30px;
}


 .trend_image_seedlings {
    padding: 0 21px 15px 19px;
    height: 32.16vw
}

 .trend_image_cheeses {
    padding: 0 18px 15px 19px;
    height: 32.16vw;
}

 .trend_image_hike{
    padding: 0 19px 15px 21px;
    height: 32vw;
}

 .trend_image_lemons{
    padding: 0 17px 15px 20px;
    height: 32vw;
}

 .subtitle_trends {
  margin-bottom: 2.34%;
}

 .tag_item_trend {
    margin-right: 20px;
    line-height: 1;
}

 .container_main-aside {
    margin-top: 0;
    padding-left: 4.5%;
    padding-right: 4.5%;
    width: 100%;
}
  
 .menu_list {
    display: none;
}

 .article_list {
    width: calc(100% - 304px);
    margin-right: 34px;
}

 .article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-right: 0;
 }

.article_sunshine {
  border-bottom: 3px solid;
  border-color: #eeeeee;
}

.article_yoga {
  margin-top: 40px;
  border-bottom: 3px solid;
  border-color: #eeeeee;
}

.article_festivals {
  margin-top: 40px;
  border-bottom: 3px solid;
  border-color: #eeeeee;
}

.article_cooking {
  margin-top: 40px;
  border-bottom: 3px solid;
  border-color: #eeeeee;
}

.article_prints {
  margin-top: 40px; 
}


.article_title {
  font-size: 17px;
  margin-top: 11px;
  line-height: 1.294;
}

.article_title_post_list {
  font-size: 17px;
  margin-top: 10px;
  line-height: 1.29;
  font-weight: 700;
  text-transform: uppercase;
}


.article_author {
  font-size: 12px;
  font-weight: 700;
}

.author_name {
   margin-top: 33px;

   line-height: 1;
}

.article_image {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}


.article_sunshine {
  border-bottom: 3px solid;
  border-color: #eeeeee;
}

.article_yoga {
  border-bottom: 3px solid;
  border-color: #eeeeee;
}

.article_festivals {
  border-bottom: 3px solid;
  border-color: #eeeeee;
}

.article_cooking {
  border-bottom: 3px solid;
  border-color: #eeeeee;
}

.article_prints {
  border-bottom: 3px solid;
  border-color: #eeeeee;
}

.article_content {
  font-family:  "Open Sans";
  font-weight: 400;
  margin-top: 27px;
  font-size: 15px;
  line-height: 1.47;
  padding-bottom: 18px;
}

.article_content_yoga {
  font-family:  "Open Sans";
  font-weight: 400;
  margin-top: 30px;
  font-size: 15px;
  line-height: 1.47;
  color: #0f0d0e;
  padding-bottom: 17px;
}

.article_content p {
  margin: 0 0 11px 0;
}

.news_title {
  line-height: 1.29;
}

.news_block {
  width: 100%;
}

.news_item {
margin-top: 29px;
}

.news_item_margin {
    margin-top: 21px;
} 

.subtitle {
  font-size: 14px;
  
}

.subtitle_tags {
  margin-top: 60px;
}

.subtitle_themes {
  margin-top: 50px;
  line-height: 1;
}

.topics_item {
  margin-top: 17px;
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 700;
  line-height: 1;
}

.topics_item:first-child {
  margin-top: 20px; 
}

.shop { 
  margin-top: 45px;  
  margin-bottom: 20px;
}

.shop_box {
padding-top: 39px;
top: -7.0%;
}

.shop_box_hexagon {
  padding-top: 47px;
   margin-top: -13px;
   
}

.shop_subtitle {
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 1.3;
  margin-top: 11px;
}

.subtitle_shop {
  margin-bottom: 27px;

}

.shop_title {
  margin-bottom: 0;
  font-size: 17px;
  text-transform: uppercase;
  line-height: 1.29;
  font-weight: 700;
  margin-top: 11px;
}

.subtitle_shop {
    font-size: 18px;
}

.subtitle_shop:after {
  content: "";
  display: block;
  width: 66px;
  height: 3px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 9px;
  opacity: 0.5;
  background-color: #e1d9bd;
}

.shop_wrapper {
  flex-wrap: wrap;
}

.copyright_wrapper {
  margin-top: 50px;
}

.shop_column {
  width: calc(50% - 1.575%);

}

.new_price_bunny {
  padding-top: 10px;
}

.price_wrapper_bunny {
  align-items: center;

}

.footer {
  max-width: 100%;
  position: relative;
  margin-bottom: 37px;
  margin-top: 0px;
}

.copyright_wrapper {
    margin-top: 50px;
    font-size: 12px;
    line-height: 1;
    font-weight: 700;
}

.tag_item {
  margin-top: 16px;
  }

}


@media (max-width: 640px)  {
  .header {
    background-image: url(../images/banner-mobile.jpg);
    padding-top: 0;
    padding-bottom: 58vw;
}
  
.container {
  padding-left: 12.5%;
  padding-right: 9.7%;
  display: flex;
  flex-wrap: wrap;
}

.hamburger {
  display: block;
  position: absolute;
  right: 15px;
  top: 32px;
}

.hamburger_item {
  width: 23px;
  height: 2px;
  background-color: white;
  margin-bottom: 5px;
}

.logo_menu {
  display: flex;
  width: 100%;
  justify-content: center;
  margin-top: 225px;
  padding-right: 7px;
}

.logo {
  width: 100%;
}

.menu_list {
  display: none;
}

.header_container_tittle {
  margin-top: 25px;
}

.header_title {
  font-size: 26px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1.46;
}

.trends {
  margin: 39px 0 43px 0;
}
   
.trends_title {
  font-size: 16px;
  font-weight: 700;
}

.subtitle_trends {
  margin-bottom: 26px;
}

.trend_image_seedlings{
  padding: 87px 15px 14px 15px;
}

.trend_image_cheeses{
padding: 66px 15px 14px 15px;
}

.trend_image_hike {

padding: 88px 15px 14px 15px;
}

.trend_image_lemons {
padding: 89px 15px 14px 15px
}

.trend_article {
    padding-bottom: 25px;
    padding: 31px 27px 27px 20px;
  }


.tag_item_trend {
  line-height: 1;
}

.article_title {
  margin-top: 11px;
  line-height: 1.25;
  font-size: 16px;
}

.container_main-aside {
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 0;
  
}

.article_list { 
  width: 100%;
  margin-right: 0;
}

.article {
  flex-wrap: wrap;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  padding-right: 0;
}

.article_sunshine {
  border-bottom: 3px solid;
  border-color: #eeeeee;
  padding-bottom: 22px;
}

.article_yoga {
  margin-top: 34px;
  padding-bottom: 22px;
  border-bottom: 3px solid;
  border-color: #eeeeee;
}

.article_festivals {
  margin-top: 29px;
  padding-bottom: 22px;
  border-bottom: 3px solid;
  border-color: #eeeeee;
}

.article_cooking {
  margin-top: 34px;
  padding-bottom: 22px;
  border-bottom: 3px solid;
  border-color: #eeeeee;
}

.article_prints {
  margin-top: 34px;
  padding-bottom: 22px;
  border-bottom: 3px solid;
  border-color: #eeeeee;
}


.article_content_yoga  {
  margin-top: 14px;
  line-height: 1.4;
}

.article_title_post_list {
  font-size: 16px;
}


.article_content p {
    margin: 0 0 10px 0;
}

.article_image {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

.tag_link {
  text-decoration: none;
  color: #b59f5b;
}

.tag_link:hover {
  text-decoration: underline;
}
  
.article_content {
  font-size: 14px;
  margin-top: 18px;
  line-height: 1.3;
  }

.article_author {
    font-size: 12px;
}

.author_name {
  margin-top: 20px;
}

 .news_block {
    margin-top: 15px;
    max-width: 100%;
}





.sidebar {
    width: 100%;
    margin-top: 44px;
}

.news_title {
  line-height: 1.29;
}

.new_price_bunny {

}


.section_margin_search {
    margin-top: 59px;
}

.subtitle {
    font-size: 16px;
}

.subtitle:after {
    margin-top: 12px;
  }

  .subtitle_mailing {
    margin-top: 44px;
 }

  .subtitle_tags {
    margin-top: 43px;
}

  .subtitle_themes {
    margin-top: 37px;
}

.form_row_margin {
    margin-top: 18px;
}

  .search_label {
    display: flex;
    width: 100%;
}

  .input_field {
    width: 100%;
}

  .shop {
    margin-top: 43px;
    margin-bottom: 13px;
  }

.shop_title {
  font-weight: 700;
  font-size: 17px;
  line-height: 1.29;
  margin: 0 0 3px 0;
  text-transform: uppercase;
}


.subtitle_shop {
margin-bottom: 29px;
font-size: 16px;
line-height: 1;
}

.shop_box {
  padding: 49px 20px 25px 20px;
}

.shop_box_bunny {
  top: -40px;
}

.shop_box_hexagon {
  top: -54px;
}

.subtitle_shop:after {
  content: "";
  display: block;
  width: 66px;
  height: 3px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 11px;
  opacity: 0.5;
  background-color: #e1d9bd;
}

  .shop_wrapper {
    flex-wrap: wrap;
}

  .shop_column {
    width: 100%;
    margin: 0 auto;
}

.shop_img {
  top: -4px;
  position: relative;
}

.shop_img_hexagon {
  margin: 0 auto;
  width: 87%;
  display: block;
  top: -18px;
  position: relative;
}
  .footer {
    top: -24px;
    width: 100%;
    margin-bottom: 0;
}


.copyright_wrapper {
  margin-top: 42px;
  margin-bottom: 44px;
}


.copyright {
  top: -10px;
}

}


@media (min-width: 641px) and (max-width: 1200px) and (orientation: landscape) {
  .trend_wrapper {
     flex-wrap: nowrap;
  }

  .trend_box_seedlings {
     margin-right: 3px;
     width: calc(25% - 2px);
  }

  .trend_box_cheeses {
     margin-right: 3px;
     width: calc(25% - 2px);
  }

  .trend_box_hike {
    margin-right: 3px;
    width: calc(25% - 6px);
  }

  .trend_box_lemons {
    width: calc(25% - 6px);
  } 
}



@media (max-width: 640px) and (orientation: landscape) , (min-width: 641px) and (max-width: 1200px) and (orientation: portrait) {
  .trend_wrapper {
    flex-wrap: wrap;
  }

  .trend_box {
    width: calc(50% - 4px);
  }
    
  .trend_box_seedlings {
    margin-right: 4px;
    margin-bottom: 4px;
  }

  .trend_box_cheeses {
    margin-bottom: 4px;
  }

  .trend_box_hike {
    margin-right: 4px;
  }

}

  


@media (max-width: 640px) and (orientation: portrait) {
 .trend_wrapper {
    display: block;
    width: 100%;
  }

  .trend_box {
    width: 100%;
  }

  .trend_box_seedlings {
    margin-bottom: 4px;
  }

  .trend_box_cheeses {
    margin-bottom: 4px;
  }

  .trend_box_hike {
    margin-bottom: 4px;
  }
}   



.popup {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
}

.popup::after {
  content: "";
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: #000;
  opacity: 0.6;
  position: absolute;
  z-index: 4;
}

.popup_form {
  position: relative;
  width: 380px;
  background-color: #fff;
  margin: auto;
  z-index: 5;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.section_title {
  display: block;
  font-family: "OpenSans-Bold", sans-serif;
  font-size: 2rem;
  color: #0f0d0e;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 45px;
  position: relative;
}

.section_title::after {
  content: "";
  display: block;
  opacity: 0.5;
  background-color: #b59f5b;
  left: calc(50% - 32.5px);
  margin-top: 10px;
  width: 65px;
  height: 3px;
  position: absolute;
}

.popup_form_skin {
  width: 17px;
  height: 17px;

  background_image: url("../svg/form-x.svg");
  background_repeat: no-repeat;
  background_size: 17px;

  margin-top: -25px;

  position: absolute;
  right: 0;

  border: none;
  background-color: inherit;

}

.popup_form_row {
  margin-bottom: 25px;
}

.popup_form_row:last-child {
  margin-bottom: 50px;
}

.popup_information {
  width: 330px;
  margin: 50px auto 55px auto;
}

.popup_form_hint {
  font-size: 1.3rem;
  font-family: 'OpenSans-Regular', sans-serif;
}

.popup_select {
  display: block;
  width: 100%;
  border: none;

  padding: 15px;
  margin-top: 10px;

  background-color: #f4f7f6;
  background-image: url("../svg/form-arrows.svg");
  background-repeat: no-repeat;
  background-size: 10px;
  background-position: center right 15px;

  font-size: 1.3rem;
  font-family: 'OpenSans-Regular', sans-serif;
  color: #939594;

  -moz-appearance: none;
  -webkit-appearance: none;
}

.popup_select:focus {
  border-bottom: 1px solid rgba(181, 159, 91, 0.2);
  outline: none;
}

.popup_radio_hint {
  font-size: 1.3rem;
  font-family: 'OpenSans-Regular', sans-serif;
  display: block;
}

.popup_radio_group {
  display: inline-block;
  margin-right: 10px;
  margin-top: 8px;
}

.radio_group_text {
  font-size: 1.3rem;
  font-family: 'OpenSans-Regular', sans-serif;
}

.radio_group_text::before {
  content: "";

  display: inline-block;
  width: 17px;
  height: 17px;
  vertical-align: middle;
  margin-right: 3px;

  background-image: url("../svg/form-empty-circle.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 17px;
}

.popup_radio:checked ~ .radio_group_text::before {
  background-image: url("../svg/form-circle.svg");
}

.popup_radio {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  width: 1px;
}

.popup_themes_label {
  font-size: 1.3rem;
  font-family: 'OpenSans-Regular', sans-serif;
  display: block;

  margin_bottom: 8px;
}

.popup_themes_input {
  width: 100%;
  padding: 23px 20px 20px 20px;
  height: 130px;

  border: none;
  background-color: #f4f7f6;
  resize: none;

  font-size: 1.3rem;
  font-family: 'OpenSans-Regular', sans-serif;
  color: #939594;
}

.popup_theme_input:focus {
  border-bottom: 1px solid rgba(181, 159, 91, 0.2);
  outline: none;
}

.popup_button {
  height: 48px;
  width: 100%;

  margin-bottom: 20px;

  border: none;
  background-color: #b59f5b;

  font-size: 1.4rem;
  font-family: 'OpenSans-Bold', sans-serif;
  text-transform: uppercase;
  color: #fff;
}

.popup_button:hover {
  background-color: #000;
}



@media (max-width: 640px) {



.popup_form {
  position: fixed;
  width: 75%;
  height: 400px;
}

.popup_form_row {
  margin-bottom: 10px;
}

.popup_form_row:last-child {
  margin-bottom: 50px;
}

.popup_information {
  width: 100%;
  margin: 15px auto 15px auto;
  padding-left: 5px;
  padding-right: 5px;
}

.section_title {
  margin-bottom: 30px;
}

.popup_themes_input {
  padding: 5px 5px 20px 5px;
  height: 50%;
 }

